
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    @RenderSection("Metadatainfo", required: false)
</head>
<body>
    <table>
        <tr>
            <td>
                @Html.ActionLink("Home", "WelcomePage", "Home") ||
            </td>
            <td>
                @Html.ActionLink("Add a new student", "Create", "StudentTbl") ||
            </td>
            <td>
                @Html.ActionLink("List all students", "Index", "StudentTbl")
            </td>
        </tr>
    </table>
    <p>@ViewBag.WelcomeMessage</p>
    <div>
        @RenderBody()
    </div>
    <p>@ViewBag.ContactUs</p>
</body>
</html>
